@import "tailwindcss";

@theme {
  --color-brand: #2563eb; /* Bleu Tailwind (blue-600) */
  --color-brand-light: #eff6ff; /* blue-50 */
  --color-brand-dark: #1d4ed8; /* blue-700 */
}

body {
  @apply bg-slate-50 text-slate-900 font-sans antialiased;
}